# conda create -n lmke python==3.7.12
# conda install pytorch==1.7.1 torchvision==0.8.2 torchaudio==0.7.2 cudatoolkit=11.0 -c pytorch
# pip install -r requirements.txt

tqdm==4.66.5
transformers==4.30.2
pillow==9.5.0
wandb==0.18.5